* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100vh;
  color: #333;
  background-image: url("./water-waves.jpg");
  /* background-repeat: repeat; */
  display: flex;
  /* top: 0;
  left: 0; */
  background-size: cover;
  align-items: center;
  justify-content: center;
}

body .water {
  position: absolute;
  background-image: url("./water-waves.jpg");
  height: 100%;
  width: 100%;
  z-index: -1;
  background-size: cover;
  filter: url("#water-turbulence");
}

/* layout */

section {
  z-index: 999;
}

.wrapper {
  position: relative;
  width: 100rem;
  height: 70rem;
  background: url("https://cdn.pixabay.com/photo/2017/02/07/09/02/wood-2045380__480.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: rocking;
  animation-timing-function: ease-in;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes rocking {
  0% {
    transform: rotateY(15deg);
  }
  10% {
    transform: rotateY(10deg);
    perspective: 300px;
  }
  25% {
    transform: rotateY(25deg);
    perspective: 300px;
  }
  35% {
    transform: rotateY(15deg);
    perspective: 300px;
  }
  50% {
    transform: rotateY(-5deg);
    perspective: 300px;
  }
  65% {
    transform: rotateY(-15deg);
    perspective: 300px;
  }
  70% {
    transform: rotateY(-20deg);
    perspective: 300px;
  }
  85% {
    transform: rotateY(-15deg);
    perspective: 300px;
  }
  90% {
    transform: rotateY(-5deg);
    perspective: 300px;
  }
  100% {
    transform: rotateY(15deg);
    perspective: 300px;
  }
}
