@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", sans-serif;
  background-color: #f3e416;
  color: #0b68b0;
}

/* Layout */

header {
  position: relative;
  height: 30vh;
  border-bottom: 8px solid #ef3b44;
}

main {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50rem;
}

.right {
  font-size: 2.5rem;
  width: 50rem;
}

/* elements */

h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -5rem;
}

.number {
  color: #f3e416;
  background-color: #0b68b0;
  border: 1rem solid #97a8d3;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 1rem;
  position: absolute;
  text-align: center;
  left: 46%;
  bottom: -5rem;
  /* transform: translate(-50%, -50%); */
}

.between {
  font-size: 2rem;
  position: absolute;
  left: 10%;
  bottom: 1rem;
}

.again {
  position: absolute;
  bottom: 1rem;
  right: 10%;
}

.sonic-foot {
  width: 7%;
  max-width: 100%;
}

input {
  font-size: 5rem;
}

.check {
  background: white;
  border: 5px solid #0b68b0;
  /* font-family: inherit; */
  width: 20rem;
  /* display: block; */
  font-size: 5rem;
  padding: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.btn {
  border: none;
  background-color: #ef3b44;
  color: #eee;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
  font-size: 2rem;
  box-shadow: 5px 5px 0.25ex #999;
}

.btn:hover {
  background-color: cornflowerblue;
}

.guess {
  margin-bottom: 5rem;
  height: 3rem;
}

.label-score {
  margin-bottom: 2rem;
}

.num {
  color: #0b68b0;
}

.label {
  color: #ef3b44;
}

/* SONIC THE HEDGEHOG */

@keyframes jump {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -190px, 0);
  }
}

.jumping {
  animation: jump 0.5s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  /* animation-play-state: paused; */
}

@keyframes bounce {
  0% {
    bottom: 0;
    z-index: 100;
  }
  50% {
    bottom: -20px;
  }
  100% {
    bottom: 0;
  }
}

.bounce {
  animation: bounce 1s cubic-bezier(0.87, -0.45, 0.81, 1.44);
  animation-delay: 0.3s;
}

/* background rainbow winning effect */

@keyframes slide {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 600vw;
  }
}

.rainbow {
  background: repeating-linear-gradient(
    -45deg,
    red 0%,
    yellow 7.14%,
    rgb(0, 255, 0) 14.28%,
    rgb(0, 255, 255) 21.42%,
    cyan 28.56%,
    blue 35.7%,
    magenta 42.84%,
    red 50%
  );
  background-size: 600vw 600vw;
  animation: slide 8s infinite linear forwards;
}
